@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  background: #f3e8e8 !important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #d9232e !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  background-color: #2b3d5ad3;
  padding: 25px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  &:hover,&:active{
    color: #d9232e !important;
  }
}
.swiper-pagination {
  position: unset !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  font-weight: 600;
}

.forBackgroundGradient {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 5, 13, 0.8),
        rgba(0, 5, 13, 0) 22.78%
      ),
      linear-gradient(
        0deg,
        #00050d,
        rgba(0, 5, 13, 0.35) 15.68%,
        rgba(0, 5, 13, 0.05) 23.89%,
        rgba(0, 5, 13, 0) 27.36%
      ),
      radial-gradient(
        83.07% 105.9% at 75.42% 30.21%,
        rgba(0, 5, 13, 0) 28.66%,
        rgba(0, 5, 13, 0.9) 100%
      ),
      radial-gradient(
        91.1% 112.51% at 69.92% -12.5%,
        rgba(0, 5, 13, 0) 76.71%,
        rgba(0, 5, 13, 0.4) 100%
      );
    height: 100%;
    width: 100%;
  }
}
.forMovieCard {
  position: relative;
  overflow: hidden;
  z-index: 1;

  .hoverOnMovieCard {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px !important;
    background: linear-gradient(
      180deg,
      transparent 0,
      rgba(0, 0, 0, 0.6) 15%,
      rgba(0, 0, 0, 0.75) 20%,
      rgba(0, 0, 0, 0.9) 29%,
      #000 50%
    );
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
    color: #fff;
    z-index: 2;
  }
  &:hover {
    transform: scale(1.05);
    border-radius: 10px;
    transition: all 0.3s;
    background-color: hsla(0, 0%, 100%, 0.1);

    .hoverOnMovieCard {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.forWatchListBg {
  height: 100vh;
  overflow-y: scroll;
  background-image: radial-gradient(
    circle at center left,
    rgb(46, 46, 46) 0%,
    rgb(46, 46, 46) 6%,
    rgb(41, 41, 41) 6%,
    rgb(41, 41, 41) 27%,
    rgb(36, 36, 36) 27%,
    rgb(36, 36, 36) 42%,
    rgb(31, 31, 31) 42%,
    rgb(31, 31, 31) 63%,
    rgb(25, 25, 25) 63%,
    rgb(25, 25, 25) 64%,
    rgb(20, 20, 20) 64%,
    rgb(20, 20, 20) 71%,
    rgb(15, 15, 15) 71%,
    rgb(15, 15, 15) 100%
  );
}

.forMakingBorderBottom {
  border-bottom: 1px solid #cecece;
  padding-bottom: 30px;
  &:last-child{
    border-bottom: none;
  padding-bottom: 0px !important;
  }
}
