@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

.swiper-pagination-bullet {
  background: #f3e8e8 !important;
}

body {
  background-color: #00050d !important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #a659bd !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  background-color: #2b3d5ad3;
  padding: 25px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  &:hover,
  &:active {
    color: #a659bd !important;
    font-size: 24px !important;
    font-weight: 800 !important;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24px !important;
  font-weight: 600;
}

.forBackgroundGradient {
  position: relative;
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 10;
    pointer-events: none;
    background: linear-gradient(180deg, rgb(0 5 13), rgba(0, 5, 13, 0) 22.78%),
      linear-gradient(
        0deg,
        #00050d,
        rgb(0 5 13) 15.68%,
        rgba(0, 5, 13, 0.05) 23.89%,
        rgba(0, 5, 13, 0) 27.36%
      ),
      radial-gradient(
        83.07% 105.9% at 75.42% 30.21%,
        rgb(0 5 13 / 0%) 28.66%,
        rgb(0 5 13) 100%
      ),
      radial-gradient(
        91.1% 112.51% at 69.92% -12.5%,
        rgba(0, 5, 13, 0) 76.71%,
        rgb(0 5 13) 100%
      ) !important;
    height: 100%;
    width: 100%;
  }

  iframe {
    position: relative;
    z-index: 1;
  }
}

.forMovieCard {
  position: relative;
  overflow: hidden;
  z-index: 1;

  .hoverOnMovieCard {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px !important;
    background: linear-gradient(
      180deg,
      transparent 0,
      rgba(0, 0, 0, 0.6) 15%,
      rgba(0, 0, 0, 0.75) 20%,
      rgba(0, 0, 0, 0.9) 29%,
      #000 50%
    );
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
    color: #fff;
    z-index: 2;
  }
  &:hover {
    transform: scale(1.05);
    border-radius: 10px;
    transition: all 0.3s;
    background-color: hsla(0, 0%, 100%, 0.1);

    .hoverOnMovieCard {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


.forMakingBorderBottom {
  border-bottom: 1px solid #cecece;
  padding-bottom: 30px;
  &:last-child {
    border-bottom: none;
    padding-bottom: 0px !important;
  }
}

.forGeminiBottomGradient {
  position: relative;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30%;
    z-index: 10;
    pointer-events: none;
    background: linear-gradient(
      180deg,
      rgba(0, 5, 13, 0) 0%,
      rgb(0 5 13) 100%
    ) !important;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #e5e7eb;
}

.forCounting {
  display: none;
}

.counting {
  position: relative;
  z-index: 99;

  .forCounting {
    display: block !important;
    line-height: 1;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    font-weight: 700;
    font-size: 4rem;
    color: rgb(65, 65, 65);
    -webkit-text-stroke: 0.25rem #dcdcdc;
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    &::before {
      content: attr(data-content);
      -webkit-text-fill-color: #0a0a0a;
      -webkit-text-stroke: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@media (max-width: 768px) {
  .forBackgroundGradient {
    position: relative;
    overflow: hidden;
    height: 100vh;
    height: 100dvh;
    min-height: 480px;
    width: 100%;
    z-index: 9;
    iframe {
      width: 100vw;
      height: 56.25vw;
      min-height: 100vh;
      min-width: 177.77vh;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      overflow: hidden;
    }
  }
}

.custom-swiper {
  .swiper-pagination {
    display: none !important;
  }
}

.swiper-pagination {
  display: block !important;
}

.swiper-pagination-bullet {
  background-color: #da261f;
  opacity: 0.6;
}
.swiper-pagination-bullet-active {
  background-color: #a31e17;
  opacity: 1;
}

.swiper-pagination {
  position: relative !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px !important;
}



@media (max-width: 768px) {
  .custom-swiper {
    .swiper-button-next,
    .swiper-button-prev {
      display: none !important;
    }
    .swiper-pagination {
      display: block !important;
    }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: 0px !important;
    }
  }
}
